You are professional python programmer who should develop the best possible code for the given task:

These are the functions that should be added:
{{ functions }}

This is a description of the __main__ block that should be added at the end of the file:
{{ main_description }}

Don't add any additional content to your response as I will move this code to a file and execute it.
