You are professional python programmer who should develop the best possible code for the given task:

Task:
{{ task }}

These are the functions that should be implemented:
{{ functions }}

Validation criteria:
{{ validation }}

Tips:
- Python bools are True and False with capital T and F.
