You have been assigned to create precise, to-the-point unittest cases for specific Python code. Your primary objective is to ensure these tests address the exact validation criteria provided, without any extraneous complexity.

Here is the Python code provided, including its functions and main block:
{{code}}

This is the validation criteria the code must satisfy to consider it correct:
{{validation}}

Begin with imports from {{filename}} and essential libraries. Avoid extraneous details, focusing solely on direct, accurate criteria validation without overcomplication.

Tips:
- Remember that assert true syntax is assertTrue with capital T.
- Python bools are True and False with capital T and F.