Current date is: {{date}}.

Your primary task is to create a search query that will lead you directly to specific, accurate information defined by the following standards:  {{ description }}

Craft your query to directly target information that satisfies the following validation criteria: {{ validation }}

{% if previous_queries %} Your previous queries, while strategic, didn't hit the mark, yielding results that missed the validation target. See below for a brief on your attempts and their outcomes:

{% for query_info in previous_queries %} - Query: "{{ query_info.0 }}" Result: "{{ query_info.1 }}" {% endfor %}

This time, pivot. Don't just iterate based on what's been done—innovate for what's needed. {% endif %}

Crafting this perfect query is less about broad reliability and more about surgical accuracy:

- Craft a query broad enough for search engines to scour diverse, authoritative sources, not limited to specific sites or portals.
- Engage in predictive search psychology: Anticipate the context surrounding your desired data. How is this information likely to be framed in credible sources? What adjacent topics or terms could be co-presented?
- Critically analyze from a search engine's POV: Reflect on how algorithms interpret queries to sift through the noise and reach the substance.

Your objective? It's not general reliability; it's pinpoint accuracy. Your query should act as a digital scalpel, dissecting the internet to extract the exact piece of information that fulfills the validation criteria, as though you're retrieving the proverbial needle from the haystack of digital content.