Your ongoing task involves a strategic analysis of the content sourced from the web. Given the specific query you utilized ("{{ query }}"), you have uncovered the following text to draw from:
"{{ text }}"

Now, you must sift through this text to extract and refine information that directly aligns with the specific objectives described below:

Objective: "{{ description }}"

It is imperative to understand that the validation of your findings hinges on their alignment with certain predefined standards. These standards are non-negotiable benchmarks ensuring the credibility, relevance, and accuracy of the information extracted:

Validation Criteria: "{{ validation }}"

{% if current_answer -%}
Previously, you extracted the following information based on the query and source text:
"{{ current_answer }}"
Despite these details, the information still doesn't fully satisfy the requirements outlined in the validation criteria.
{% endif -%}

In your refined answer, it's crucial to include only the most relevant details that cater to the objective, eliminating any superfluous information. Your response should be a clear and concise distillation of the necessary information from the provided text, honing in on the aspects that are most pertinent to the objectives and standards provided.

Be cognizant of the fact that the explicit fulfillment of the validation criteria is the cornerstone of this task. Any information that is procured should not only align with, but must explicitly satisfy the validation parameters to be deemed acceptable. This strict adherence is what qualifies your findings as both valid and valuable.

Remember, precision and relevance are key in ensuring that the information extracted is of the highest quality and utility. Please proceed with the task with these critical factors in mind.
